In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("bq.csv")
df.head()

,name,profit_per_item,COUNT_Sales,Revenue
0,The North Face Apex Bionic Soft Shell Jacket -...,511.097998,12,6133.175976
1,Nobis Yatesy Parka,568.099998,9,5112.899978
2,Bergama Natural Raccoon Hooded Stroller - - Mu...,443.244086,11,4875.684942
3,The North Face Nuptse 2 Jacket - Noah Green/TN...,532.769998,9,4794.929984
4,Canada Goose Men's Citadel Parka,407.835000,11,4486.185002

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             1000 non-null   object
 1   profit_per_item  1000 non-null   float64
 2   COUNT_Sales      1000 non-null   int64
 3   Revenue          1000 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 31.4+ KB

In [10]:
df.isnull().sum()

name               0
profit_per_item    0
COUNT_Sales        0
Revenue            0
dtype: int64